

<% @restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-md-4">
        <div class="restaurant-item">

          

          <a data-flickr-embed="true"  href="https://www.flickr.com/photos/8176740@N05/40972251132" title="Cleaning a Cafe Window"><img src="https://farm1.staticflickr.com/815/40972251132_8134b2cba6_k.jpg" width="204" height="153" alt="Cleaning a Cafe Window"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          
         

          

          <div class="caption">

            <h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
            
            <p class="label label-default"><%= restaurant.category.name %><p>
            <p><%= truncate(restaurant.description, length: 80) %></p>
            <%= render partial: "shared/favorite", locals: {restaurant: restaurant} %>
            <%= render partial: "shared/like", locals: {restaurant: restaurant} %>
          </div>
        </div>
      </div>
    <% end %>

    <!-- 有generate kaminari paginate bootstrap style -->
    <div class="text-center">
      <%= paginate @restaurants %>
    </div>